.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.content h2{
    align-self: center;
    border: 2px solid rgb(30, 26, 218);
    border-radius: 50px;
    padding: 15px;
    background-color: rgb(30, 26, 218);
}
.content img{
    width: 150px;
    height: 150px;
    align-self: center;
}