.aboutme h2{
    text-align: center;
    text-decoration:underline;  
}
.row div {
    border: 2px solid rgb(123, 123, 124);
    border-radius: 15px;
    padding: 10px;
}
.row div:hover {
    background-color: rgb(123, 123, 124);
    color: white;
  }