.custom-container {
  max-width: 95% !important;
}
.am {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 5px;
  p {
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    font-size: 15px;
  }
  a {
    align-self: flex-end;
    border: 2px solid rgb(30, 26, 218);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    font-size: 15px;
  }
}
.row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  div {
    text-align: center;
    border-radius: 15px;
    height: 170px;
  }
}
.we {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 5px;
  div {
    div {
      border: 2px solid $we-border-color;
      &:hover {
        background-color: $we-border-color;
        color: white;
      }
    }
  }
}
.ec {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 5px;
  div {
    div {
      border: 2px solid $ec-border-color;
      a {
        color: $ec-title-color;
      }
      &:hover {
        background-color: $ec-border-color;
        color: white;
      }
    }
  }
}
.sl {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 5px 0px 5px 0px;
  div {
    div {
      border: 2px solid $sl-border-color;
      height: 100px;
      a {
        color: $sl-title-color;
      }
      &:hover {
        background-color: $sl-border-color;
        color: white;
      }
    }
  }
}
