/* Header */
nav {
    padding: 5px;
  }
  .navbar-nav {
    gap: 10px;
    li {
      border: 2px solid rgb(30, 26, 218);
      border-radius: 5px;
      &:hover{
          background-color: rgb(30, 26, 218);
      }
    }
  }
  a {
      text-decoration: none;
      color: rgb(30, 26, 218);
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
  }
  .title{
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      border: 2px solid rgb(0, 0, 0);
      background-image: url("../assets/backgroundtitle.jpg");
      background-size: cover;
      color: #000000;
      h1{
          align-self: center;
      }
      h2{
          align-self: center;
      }
  }
  .navbar-brand {
      display: flex;
      justify-content: start;
      padding: 10px;
      img{
          width: 50px;
          height: 50px;
          border: 2px solid rgb(30, 26, 218);
          border-radius: 5px;
      }
  }
  /* Footer */
  footer{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #000000;
      padding: 5px;
      gap: 15px;
  }