//variables
$aboutme-border-color: rgb(123, 123, 124);
$we-border-color: rgb(30, 26, 218);
$ec-border-color: rgb(26, 218, 154);
$ec-title-color: rgb(0, 104, 69);
$sl-border-color: rgb(218, 103, 26);
$sl-title-color: rgb(70, 28, 0);

$nav-border-color: rgb(30, 26, 218);